body {
    background: #0f0f12;
   
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    user-select: none;
    color: #dfd4d4;
    
   

   
}

.icon {
    display: inline-flex;
    align-items: center;
    margin-right: 5px; 
    font-size: 14px; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px; 
    height: 16px;
    color: white; 
    
}




@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  #secret {
    animation: bounce 2s infinite;
    font-size: 48px;
  }
  
  #blox {
    color: rgb(223, 33, 33);
  }

  .loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  #loading-text {
    font-size: 25px;
    margin-top: 50px;
    animation: fadeText 1.5s infinite;
  }

  @keyframes fadeText {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  .window-controls {
    
    font-family: "Segoe UI", sans-serif;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
  }

 
  .side-panel {
    
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background: #18171c;
    background-image: linear-gradient(to bottom, #0f0f12, #0b090e);

    color: #CCCCCC;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 1px 0 1px rgba(50, 49, 49, 0.5); 
    text-align: left;
  }


  #container {
    
  }


  .code-editor {
  
    top: 0;
    bottom: 0;
    
   
    color: #333; 
    padding: 20px;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px; 
    line-height: 1.5; 
    overflow-y: auto;
    border-left: 1px solid rgba(0, 0, 0, 0.1); 
  }

  #code-input {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    resize: none;
    outline: none;
  }

  .directory {
    border-radius: 0;
    padding: 10px;
    float: left; 
  
  }

  .file-list {
    list-style: none;
    padding: 0; 
  }
  #directory-title::before {
    font-size: 13px;
    font-weight: bold;
    color: #D4D4D4;
    display: block;
    margin-bottom: 10px;
  }

  .buttons {
    background-color: #0c0c0ee5;
    color: white; 
    font-size: 13px; 
    padding: 8px 13px; 
    border: none; 
    cursor: pointer; 
    margin-right: 3px;
    border-radius: 6px; 
    width: 100px;
  }

  .buttons:hover {
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
  }
  .file-list p {
    color: #d4d4d4cb; 
    margin: 5px 0; 
    font-family: 'Consolas', 'Courier New', monospace; 
    font-size: 13px; 
    padding-left: 5px; 
  }


  .file-list .active {
    background: rgba(255, 255, 255, 0.1);
  }


  .file-list p:hover {
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
  }

  .window-controls button {
    font-family: "Segoe UI", sans-serif;
    background-color: #333;
    border: 1px solid #444;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: #fff;
    border-radius: 5px;
  }

  .window-controls button:hover {
    background-color: #555;
    transform: translateY(-2px);
  }

  .window-controls #minimize-btn {
    background-color: #2a2a2a; 
  }

  .window-controls #close-btn {
    background-color: #d9534f; 
  }

  .window-controls #close-btn:hover {
    background-color: #c9302c; 
  }

  .dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #dfd4d4;
    border-radius: 50%;
    animation: dotBounce 1.4s infinite both;
  }

  .dot:nth-child(1) {
    animation-delay: -0.32s;
  }

  .dot:nth-child(2) {
    animation-delay: -0.16s;
  }

  @keyframes dotBounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }


  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 8px 12px;
    font-size: 13px;
    border: none;
    border-radius: 0;
    cursor: default;
  }
  .dropbtn:hover {
    background-color: transparent;
    color: white;
    backdrop-filter: blur(5px);
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content a:hover {background-color: rgba(255, 255, 255, 0.1);}

.dropdown:hover .dropdown-content {display: block;}


.hover:hover {
  background: rgba(255, 255, 255, 0.1);
 
}

.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
  
  .dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #0f0f12;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgba(255, 255, 255, 0.786);
    padding: 5px 4px;

    font-size: 10px;
    text-decoration: none;
    display: block;
    margin: 2px 0;
    
  }