/* index.css */

body {
    background: #18171c;
    background-image: linear-gradient(to bottom, #0f0f12, #0b090e);
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    user-select: none;
    color: #dfd4d4; 
}

.window-controls {
    font-family: "Segoe UI", sans-serif;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
}

#minimize-btn {
    background-color: #2a2a2a; 
}

#close-btn {
    background-color: #d9534f; 
}

#secret {
    animation: bounce 2s infinite;
    font-size: 48px;
}
  
#blox {
    color: rgb(223, 33, 33);
}

.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #dfd4d4;
    border-radius: 50%;
    animation: dotBounce 1.4s infinite both;
}

.dot:nth-child(1) {
    animation-delay: -0.32s;
}

.dot:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes dotBounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

.window-controls button {
    font-family: "Segoe UI", sans-serif;
    background-color: #333;
    border: 1px solid #444;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: #fff;
    border-radius: 5px;
}

.window-controls button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

#close-btn:hover {
    background-color: #c9302c; 
}