/* index.css */

body {
    background: #18171c;
    background-image: linear-gradient(to bottom, #0f0f12, #0b090e);
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    user-select: none;
    color: #dfd4d4; 
}

#secret {
    animation: bounce 2s infinite;
    font-size: 28px;
}
  
#blox {
    color: rgb(223, 33, 33);
}

.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dot {
    height: 7px;
    width: 7px;
    margin: 0 5px;
    background-color: #dfd4d4;
    border-radius: 50%;
    animation: dotBounce 1.4s infinite both;
}

.dot:nth-child(1) {
    animation-delay: -0.32s;
}

.dot:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes dotBounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}