/* main.css */

::-webkit-scrollbar {
    position: flex;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
    opacity: 0.9;
}

::-webkit-scrollbar-thumb {
    opacity: 0.6;
    background: #1a1a1f;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: #0f0f12;
}

body {
    background: #18171c;
    background-image: linear-gradient(to bottom, #0f0f12, #0b090e);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
    margin: 0;
    padding: 0;
    height: 99vh;
    user-select: none;
    border: 1px solid #262627;;
    color: #dfd4d4;
}

.logo {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#blox {
    color: #df2121;
}

.panels-container {
    display: flex;
    margin-top: 7px;
}

.top-panel {
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
}

.left-panel {
    width: 360px;
    background: #18171c;
    background-image: linear-gradient(to bottom, #0f0f12, #0b090e);
    color: #CCCCCC;
    height: 79vh;
    border: 1px solid #262627;
    border-right: none;
    border-bottom: none;
    border-left: none;
    text-align: left;
}

.window-controls button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 3px;
    cursor: pointer;
    color: #c4c4c4;
}

.window-controls button:hover {
    background-color: #20202080;
    border-radius: 7px;
    color: white;
}

#filesContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    overflow-y: auto;
    height: 98%;
    width: 100%;
    box-sizing: border-box; 
    font-weight: 200;
}

.entry-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.entry {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 10px;
    width: 100%;
}

.entry:hover {
    background-color: #33333380
}

.entry.active, .entry:hover.active {
    background-color: #18181d;
    border: 1px solid #262627;
}

.content-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.folder-header {
    display: flex;
    align-items: center;
}

.toggle-icon {
    cursor: pointer;
    margin-right: 8px;
}

.folder-icon {
    width: 15px;
    margin-right: 10px;
    fill: white;
    color: white;
}

.folder-contents {
    display: none;
    flex-direction: column;
}


.quick-actions {
    padding-left: 5px;
}

.quick-actions button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #c7c7c7;
    padding: 7px 10px;
    margin-top: 2px;
    border-radius: 5px;
}

.quick-actions button:hover {
    background-color: #20202080;
    color: white;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 700px;
    overflow-x: scroll;
    border: 1px solid #262627;
    border-right: none;
    border-left: none;
}

.tabs-container::-webkit-scrollbar-track {
    background: #1a1a1f;
    opacity: 0.9;
    width: 5px;
    height: 5px;
}

.tabs-container::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background: #222229;
}

.tab {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 13px 15px;
    color: #d8d8d8;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.tab:hover {
    background-color: #20202080;
}

.tab .close-tab-button {
    opacity: 0;
    cursor: pointer;
    margin-left: 10px;
}

.tab:hover .close-tab-button {
    opacity: 0.7;
}

.right-panel {
    border-left: 1px solid #262627;
}

.actions {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 0;
    justify-content: space-between;
    background-color: #101013;
    border-top: 1px solid #262627;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    width: 684px;
    height: 30px;
    border-left: 1px solid #262627;
    border-bottom: 1px solid #262627;
    margin-left: -1px;
    bottom: 2px;
}

.injection {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #18181d;
    outline: none;
    border: 1px solid #28272c;
    border-radius: 6px;
}

.injection img {
    margin-left: 6px;
}

.executor-buttons {
    display: flex;
    gap: 7px;
}

.executor-buttons button {
    background-color: #18181d;
    display: flex;
    cursor: pointer;
    gap: 10px;
    align-items: center;
    outline: none;
    border: 1px solid #28272c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.executor-buttons button:hover {
    background-color: #15151a;
}

.rename {
    background-color: transparent;
    outline: none;
    border: 1px solid #28272c;
    color: white;
}

.quick-container {
    display: flex;
    position: absolute;
    z-index: 999;
    gap: 1px;
    flex-direction: column;
    padding: 5px;
    background-color: #15151a;
    border: 1px solid #28272c;
    border-radius: 5px;
    width: 200px;
}

.quick-container > button {
    background-color: transparent;
    padding: 5px 20px;
    text-align: left;
    outline: none;
    border-radius: 5px;
    border: none;
    color: #c7c7c7;
}

.quick-container > button:hover {
    background-color: #33333380;
}


.quick-container button.active {
    background-color: #33333380 !important; 
}